#menuSuministros{
	overflow: hidden;
	display: inline-block;
	margin-left: .7rem;
}

#tabPageSuministros{
	position: relative;
	width: 100%;
	height: 3.1rem;
	display: inline-flex;
	padding-left: 1.5%;
	justify-content: center;
	align-items: center;
}
#btnGruposSuministros{
	outline: none;
	color: #6468D1;
	font-size: 2rem;
	width: 20vw;
	height: 100%;
	-webkit-user-select:  none;
	user-select: none;
	background: transparent;
	border-color: #6468D1;
	border-style: solid;
	border-width: 2.7px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
}
#btnPuntosSuministros{
	outline: none;
	color: rgba(0, 0, 0, 0.4);
	font-size: 1.2rem;
	width: 20vw;
	height: 100%;
	-webkit-user-select:  none;
	user-select: none;
	background: transparent;
	border-color: rgba(0, 0, 0, 0.4);
	border-style: solid;
	border-width: 2.7px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
}
#blankTab{
	position: relative;
	background: rgba(0, 0, 0, 0.4);
	width: 53%;
	height: 2px;
	top: 49%;
}
#agregarSuministros{
	position: absolute;
	background: #6468D1;
	color: white;
	outline: none;
	border-style: none;
	right: 10px;
	display: flex;
	width: 20vw;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	font-family:  "Yu Gothic Light", sans-serif;
	font-weight: bold;
}
#configBarSuministros{
	position: relative;
	width: 97%;
	left: 1.5%;
	right: 1.5%;
	height: 10vh;
	display: flex;
}
#searchBarSuministrosDiv{
	width: 72vw;
	height: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
}
#searchBarSuministrosInput{
	color: black;
	width: 95%;
	height: 2rem;
	padding-left: 1rem;
	outline: none;
	border-radius: 32px;
	border-style: none;
	background: rgba(171, 171, 171, 0.3);
	font-family:  "Yu Gothic Light", sans-serif;
	font-size: 1.2rem;
}
#filterBySortByDivSuministros{
	position: relative;
	width: 100%;
	height: inherit;
	align-items: center;
	justify-content: right;
	display: flex;
	padding: 5px;
}

#filterBySuministrosButton{
	height: 5vh;
	color: dimgray;
	font-size: 0.6em;
	font-family:  "Yu Gothic Light", sans-serif;
	outline: none;
	border-style: none;
	background: rgba(171, 171, 171, 0.3);
	margin: 5px;
}
#sortBySuministrosButton{
	height: 5vh;
	color: dimgray;
	font-size: 0.6em;
	font-family:  "Yu Gothic Light", sans-serif;
	outline: none;
	border-style: none;
	background: rgba(171, 171, 171, 0.3);
}
@media screen and (max-width:  700px){
	#btnGruposSuministros{
		font-size: 1.5rem;
	}
	#btnPuntosSuministros{
		font-size: 1rem;
	}
}
@media screen and (max-width:  550px){
	#btnGruposSuministros{
		font-size: 1.5rem;
	}
}
@media screen and (max-width:  450px){
	#btnPuntosSuministros{
		font-size: 1rem;
	}
	#btnGruposSuministros{
		font-size: 1.2rem;
	}
	#agregarSuministros{
		font-size: .7rem;
		height: 1.7rem;
	}
}
@media screen and (max-width:  350px){
	#btnPuntosSuministros{
		font-size: .8rem;
	}
}

#contentSuministros{
	position: relative;
	width: 97%;
	left: 1.5%;
	right: 1.5%;
	height: 66vh;
	display: block;
	overflow: hidden;
}

#contentGruposSuministros{
	position: relative;
	width: 100%;
	height: inherit;
}
#contentPuntosSuministros{
	position: relative;
	width: 100%;
	height: inherit;
}