body{
	overflow: hidden;
}
#menuUsuario{
	overflow: hidden;
	display: inline-block;
}
#menuUsuario::-webkit-scrollbar{
	display: none;
}
#menuCuentas{
	overflow-x: hidden;
	overflow-y: scroll;
	display: inline-block;
}
#menuCuentas::-webkit-scrollbar{
	display: none;
}
#divTitulo{
	position: relative;
	width: 100%;
	height: auto;
	color: dimgray;
	-webkit-user-select:  none;
	user-select: none;
	padding-left: 1.5%;
}
#TITULO{
	font-size: 2em;
	font-family:  "Yu Gothic Light", sans-serif;
}
.parrafocantRegistros{
	float: left;
}

.parrafoBuscar{
	float: right;	
}

#inputBuscar{
	color: black;
	height: 2rem;
	padding-left: 1rem;
	outline: none;
	border-radius: 32px;
	border-style: none;
	background: rgba(60, 60, 60, 0.3)
	font-family:  "Yu Gothic Light", sans-serif;
	font-size: 1.5rem;
}
#main-container
{
	 min-height: .01%;
	font-family:  "Yu Gothic Light", sans-serif;
	font-size: 12;
	margin:5px;
    padding:5px;
    overflow-x: auto;
    overflow-y: auto;
    text-align:justify;
}

.btncrear{
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    color: white;
    background-color: #1F618D;
    border-radius: 15px;
    border: 3px solid #1F618D;
}

table{
	border-collapse: collapse;
	width: 100%;
}

th{
	font-family:  "Yu Gothic Light", sans-serif;
	border: solid 1px black;
	font-size: 1.4rem;
	text-align: center;
}
td{
	font-family:  "Yu Gothic Light", sans-serif;
	border: solid 1px black;
	font-size: 1.1rem;
	text-align: center;
}

thead{
	background-color: #1A5276;
	border-bottom: solid 5px #0F362D;
	color: white;	
	font-weight: bold;
	text-align: center;
}

tr:nth-child(even){
	background-color: white;
}

tr:hover td{
	background-color: #1F618D;
	color: white;
}

/*---------------------------------------Responsividad para la Tabla---------------------------*/

@media screen and (max-width: 700px) {
    #main-container {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
    .parrafoBuscar{
    	float: left;
    	margin-top: 10px;
    	margin-bottom: 10px;
	}
    th{
		font-size: .8rem;
		text-align: center;
	}
	td{
		font-size: .7rem;
	}

#main-container > .table {
        margin-bottom: 0;
    }

    #main-container > .table > thead > tr > th,
    #main-container > .table > tbody > tr > th,
    #main-container > .table > tfoot > tr > th,
    #main-container > .table > thead > tr > td,
    #main-container > .table > tbody > tr > td,
   	#main-container > .table > tfoot > tr > td {
        white-space: nowrap;
    }

    @media screen and (max-width:  500px){
	th{
		font-size: .7rem;
		text-align: center;
	}
	td{
		font-size: .7rem;
	}

   @media screen and (max-width:  350px){
	th{
		font-size: .5rem;
		text-align: center;
	}
	td{
		font-size: .4rem;
	}
}

/*---------------------------------------Responsividad para la Tabla---------------------------*/

a:link, a:visited, a:active {
    text-decoration:none;
}
